body form{
    font-style: italic;
    margin-left: 450px;
    color:rgb(51, 26, 26);
    font-weight: 10px;
    font-size: 17px;
    width: 700px;
    background-color: bisque;
    padding: 30px;
    border: 10px;
}