@charset "utf-8";

html {
    background-image: url(photo/bg.jpg);
    background-size: contain;
}

image {
    background-color: transparent;
}
table{
    background-color: white;
    border:2px solid black;
    width: 70%;
    margin-left: 1%;
}
td{
    border: 1px solid black;
}
table p{
    line-height: 0.1;
    text-align: center;
}
.foodCart{
    width: 27%;
    background-color:wheat;
    float: right;
    margin-right: 15px;
}
button{
    float: right;
    background-color:grey;
    border-radius: 12px;
    color: white;
}


